# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [4]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

b = a[3:]
print(b)

[4, 5, 6]

In [6]:
# create a list of numbers from 1 to 20
c = list(range(1,21))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
even = list(range(2,101,2))
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [12]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def thing(first,second):
    return first/second

print(thing(1,2))

0.5

In [ ]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(1,31):
    if (i % 3 == 0 and i % 5 == 0):
        print("fizzbuzz")
    elif (i % 3 == 0):
        print("fizz")
    elif (i % 5 == 0):
        print("buzz")
    else:
        print(i)

In [16]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
menu = {
    "gyro": "9",
    "burger": "9",
    "greek salad": "8",
    "philly steak": "10"
}
print(menu)

{'gyro': '9', 'burger': '9', 'greek salad': '8', 'philly steak': '10'}

In [ ]:
import pandas as pd
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
df = pd.read_csv("../data/starbucks.csv")
type(df)

In [ ]:
# select all rows with more than and including 400 calories
df["calories"] >= 400

In [ ]:
# select all rows whose vitamin c content is higher than the iron content
df[df["vitamin c"] > df["iron"]]

In [ ]:
# create a new column containing the caffeine per calories of each drink
df["caf_per_cal"] = df["caffeine"] / df["calories"]

In [ ]:
# what is the average calorie across all items?
df["calories"].mean()

In [ ]:
# how many different categories of beverages are there?
unique_bev = df["beverage_category"].nunique()

In [ ]:
# what is the average # calories for each beverage category?
cat = df.groupby("beverage_category")
print(cat["calories"].mean())